* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 40px;
  font-size: 60px;
}

#buttonsContainer {
  margin: 0 auto;
  width: 800px;
  display: flex;
  flex-direction: row;
}

#reset {
  color: #ffffff;
  background-color: black;
  border: none;
  font-size: 24px;
  padding: 4px 20px;
}

#container {
  margin: 20px auto;
  border: 1px solid black;
  height: 800px;
  width: 800px;
  display: flex;
  flex-direction: column;
}

.gridRow {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.gridCell {
  background-color: #ffffff;
  border: 1px solid #D8D8D8;
  flex: 1;
}

.gridCellHover {
  background-color: #D8D8D8;
  border: 1px solid #D8D8D8;
  flex: 1;
}